.depositBox{
    display:flex ;
    flex-direction:column;
    width:60%;
     height:55%;
     padding:2vh ;
     border: 1px solid grey;
     border-radius: 1vh;
}

.depositLabel{
    font-weight:bold;
    margin-bottom:2vh ;
    font-size:2vh;
}